@import './../variables/_mixins';

.discounts {
  &__title {
    margin-top: 110px;
    text-align: center;
    @media all and (max-width: 680px) {
      margin-top: 51px;
    }
  }
  &__wrapper{
    max-width: 445px;
    width: 100%;
    border-radius: 40px;
    @media all and (max-width: 1240px) {
      margin: 20px 0;
      max-width: 645px;
    }
    @media all and (max-width: 680px) {
      margin: 10px 0;
    }
  }
  &__wrapper:first-child {
    background: #272963;
    display: flex;
    justify-content: flex-end;
    background-image: url(./../images/bottles.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    // background-position: left bottom;
    background-position: 15% 7%;
    @media all and (max-width: 1240px) {
      background-position: -24% 8%;
    }
    @media all and (max-width: 1330px) {
      background-size: 52%;
    }
    @media all and (max-width: 1300px) {
      background-size: 54%;
    }
    
    
  }
  &__wrapper:nth-child(2) {
    background: #55B2F3;
    display: flex;
    justify-content: center;
    background-image: url(./../images/discounts/filter.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 45%;
    margin: 0 12px;
    @media all and (max-width: 640px) {
      background-size: 55%;
    }
    @media all and (max-width: 1340px) {
      background-size: 47%;
    }
    @media all and (max-width: 1300px) {
      background-size: 48%;
    }
    @media all and (max-width: 1250px) {
      background-size: 49%;
      margin-right: 22px;
      justify-content: flex-end;
    }
    
  }
  &__wrapper:nth-child(3) {
    background: #2271C5;
    background-image: url(./../images/discounts/b3.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    // background-size: 90% 100%;
    // background-position: right bottom;
    background-position: 95% 100%;
    @media all and (max-width: 440px) {
      background-size: 100%;
    }
     @media all and (max-width: 640px) {
      background-size: 55%;
    }
    @media all and (max-width: 1340px) {
      background-size: 97%;
    }
    @media all and (max-width: 1300px) {
      background-size: 98%;
    }
    @media all and (max-width: 1270px) {
      background-size: 100%;
    }
  }
  &__wrap__subtitle,
  &__wrap__text {
    color: #FFFFFF;
  }
  &__wrap__subtitle {
    @include text(28px, 900, 38px, #FFFFFF);
    font-family: 'Nunito Sans';
    @media all and (max-width: 620px) {
      @include text(22px, 800, 30px, #FFFFFF);
    }
  }
  &__wrap {
    width: 100%;
  }
  &__wrap__text {
    @media all and (max-width: 430px) {
      @include text(12px, 400, 16px, #FFFFFF);
    }
  }
  &__wrap_first {
    max-width: 150px;
    margin-right: 28px;
    @media all and (max-width: 1240px) {
      max-width: 250px;
      padding: 10px;
      margin-right: 10px;
    }
    @media all and (max-width: 430px) {
      max-width: 160px;
    }
    
  }
  &__wrap_second {
    max-width: 220px;
    margin-left: 82px;
    @media all and (max-width: 1240px) {
      max-width: 230px;
      padding: 5px;
      margin-right: 12px;
    }
    @media all and (max-width: 430px) {
      max-width: 145px;
    }
  }
  &__wrap_third {
    max-width: 220px;
    margin-left: 33px;
    @media all and (max-width: 1240px) {
      max-width: 250px;
      padding: 5px;
    }
    @media all and (max-width: 430px) {
      max-width: 128px;
      margin-left: 24px;
    }
  }
  &__wrap__subtitle {
    padding-top: 27px;
    @media all and (max-width: 430px) {
      padding-top: 20px;
    }
    @media all and (max-width: 430px) {
      @include text(20px, 900, 28px, #FFFFFF);
    }
    @media all and (max-width: 420px) {
      padding-top: 10px;
    }
  }
  &__wrap__button {
    width: 140px;
    height: 40px;
    background: #F1A039;
    border-radius: 42px;
    color: #FFFFFF;
    margin-bottom: 27px;
    @media all and (max-width: 430px) {
      margin-bottom: 19px;
    }
    @media all and (max-width: 430px) {
      margin-bottom: 10px;
    }
  }
  &__wrap__text:nth-child(3) {
    margin: 30px 0 28px;
    @media all and (max-width: 620px) {
      margin: 27px 0 21px;
    }
    @media all and (max-width: 430px) {
      margin: 15px 0 15px;
    }
  }
  &__blocks {
    display: flex;
    justify-content: space-between;
    margin: 41px 0 30px;
    @media all and (max-width: 1240px) {
      flex-direction: column;
      align-items: center;
      margin: 6px 10px 30px;
    }
  }
  &__blocks > .discounts__wrap__text {
    @media all and (max-width: 430px) {
      max-width: 100px;
    }
  }
  &__text_bottom {
    text-align: center;
    @include text(16px, 400, 22px, #272963);
    @media all and (max-width: 430px) {
      @include text(12px, 400, 16px, #272963);
      max-width: 330px;
      width: 100%;
      margin: 0 auto;
    }
  }
}